<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <connectionStrings>
   
     <!-- Connection strings need to be supplied in dbconnect class for connections-->
    
    <!--Local environment connection string-->
    <add name="ConnectionStringLocal" connectionString="server=localhost; port=3306;user id=root;password=mindit@123;database=airpollution_db;Allow Zero Datetime=true;" />
    <!--Dev environment connection string-->
    <add name="ConnectionStringDev" connectionString="Server=devdb.cl7byd0npkno.ap-south-1.rds.amazonaws.com;Database=airpollutionH_db;Uid=admin;Pwd=mindit123;" providerName="MySql.Data.MySqlClient" />
   
  
  
  </connectionStrings>

  
</configuration>